*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-size: 16px;
}

.container {
  margin: 0 15vmin;
}

nav {
  background-color: #3d3d3d;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  display: block;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.mini-profile-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-profile-login input[type=submit] {
  cursor: pointer;
  border: none;
  display: block;
  color: #000;
  background-color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
  margin-right: 1em;
}

.mini-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.5em;
  -o-object-fit: cover;
     object-fit: cover;
}

.mini-profile p {
  color: #fff;
}

.log-in-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.log-in-out a {
  display: block;
  color: #000;
  background-color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
  font-size: 0.9em;
}

.log-in-out a:first-of-type {
  margin-right: 1em;
}

.log-in-out a:last-of-type {
  color: #fff;
  background-color: #5abb6a;
}

@media screen and (max-width: 900px) {
  form {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .bloglist-wrapper h1 {
    text-align: center;
  }
  .blog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-item .blog-image-wrapper {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 2em;
  }
  .blog-item .blog-image-wrapper img {
    width: 100% !important;
  }
  .blog-item .no-blog-image {
    width: 100% !important;
  }
  .blog-item .blog-text {
    width: 100% !important;
  }
  .blog-item input[type=submit], .blog-item .post-view {
    margin: 20px 0 20px 0 !important;
  }
  .create-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .create-blog .blog-image-wrapper {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 2em;
  }
  .create-blog .blog-image-wrapper img {
    width: 100% !important;
  }
  .create-blog .no-blog-image {
    width: 100% !important;
  }
  .create-blog .blog-text {
    width: 100% !important;
  }
  .create-blog input[type=submit] .post-view {
    margin: 20px 0 20px 0 !important;
  }
  .blog-posted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-posted small {
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 5vmin;
  }
  .info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5em 0 10em 0;
  }
  .info-wrapper a {
    margin: 10px auto 0 auto;
  }
  .no-profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
  }
  .no-profile-image, .no-blog-image {
    background-color: #316c80;
  }
  .bio {
    text-align: center;
    margin-left: 0 !important;
  }
}

.view-img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.image-upload {
  height: 300px;
  width: 100%;
  position: relative;
}

.image-upload img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-upload label[for=image] {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image-upload input[type=file] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image-upload::before {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  will-change: opacity;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #0005;
}

.image-upload h1 {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  will-change: opacity;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.image-upload:hover h1 {
  opacity: 1;
}

.image-upload:hover::before {
  opacity: 1;
}

.title {
  margin-top: 1em;
}

.written-by {
  margin-bottom: 1.5em;
  margin-top: 0.2em;
  font-size: 1.1em;
  font-style: italic;
}

.written-by a {
  color: #316c80;
}

.view-btn-wrapper {
  font-size: 0;
  margin-bottom: 20px;
}

.edit-btn, .save-btn {
  display: inline-block;
  padding: 7px;
  text-align: center;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  width: 70px;
  font-size: 16px;
  border: none;
  color: #fff;
}

.edit-btn:first-of-type, .save-btn:first-of-type {
  margin-right: 10px;
}

.edit-btn {
  background-color: #316c80;
}

.save-btn {
  background-color: #36ac27;
}

.update-form {
  margin-bottom: 2em;
}

input[type=text], textarea {
  outline: none;
  border: none;
  border-left: 4px solid #316c80;
  padding: 0 0.5em;
}

input[type=text] {
  width: 100%;
  color: #000;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 1em;
}

input[type=text]::-webkit-input-placeholder {
  color: #000;
}

input[type=text]:-ms-input-placeholder {
  color: #000;
}

input[type=text]::-ms-input-placeholder {
  color: #000;
}

input[type=text]::placeholder {
  color: #000;
}

textarea {
  display: block;
  font-size: 15px;
  width: 100%;
  height: 200px;
  resize: none;
}
/*# sourceMappingURL=view.css.map */